<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between align-items-center">
    <span class="navbar-brand mb-0 h1 d-flex align-items-center">
      <pre class="m-0 p-0">Reactive forms app</pre>
      <i class="bi bi-cup-hot-fill ms-2"></i>
    </span>
    <span *ngIf="state$ | async as state">
      <span *ngIf="state.login" style="color: #fff">
        <i class="bi bi-universal-access me-2"></i> {{ state.loginForm.email }}
      </span>
      <span *ngIf="!state.login" style="color: #fff">
        <i class="bi bi-shield-fill-x me-2"></i> unknown user
      </span>
    </span>
  </div>
</nav>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-2" *ngIf="state$ | async as state">
      <app-login-form *ngIf="!state.login"></app-login-form>
      <div *ngIf="state.login" class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mt-4 p-3 mb-4" style="background-color: hotpink">
          Welcome {{ state.loginForm.fullname.trim() | uppercase }}, your are beautiful! <i class="bi bi-chat-heart-fill ms-2"></i>
        </h1>
        <button class="btn btn-light"(click)="logOut()">Log Out <i class="bi bi-person-x ms-2 mt-5"></i></button>
      </div>
    </div>
  </div>
</div>
